<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <meta name="viewport" content="<%=htmlWebpackPlugin.options.viewport%>>"/>
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.options.style%>" type="text/css"/>
  <link rel="shortcut icon" href="/resources/img/forge.png" type="image/x-icon"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title><%=htmlWebpackPlugin.options.title%></title>
  <meta charset="utf-8">
</head>

<body>
  <script src="<%=htmlWebpackPlugin.options.viewer3D%>"></script>
  <%=htmlWebpackPlugin.files.webpackManifest%>
  <div id="root"></div>
</body>

</html>

